* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TEXT */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
}

h1 {
  color: var(--h1-colour);
}
h2 {
  color: var(--h2-colour);
}

h3 {
  color: var(--h3-colour);
}

h4 {
  color: var(--h4-colour);
}

h5 {
  color: var(--h5-colour);
}

:root {
  --gap: 1.5rem;
  --interface-font-size: 1.2em;
  --meta-font-size: 0.8em;
}

p {
  margin: 10px 0px;
  color: var(--text-colour);
}

article p {
  font-size: 19px;
  line-height: 1.7;
}

strong {
  color: var(--bold-text-colour);
}

.date {
  color: #565656;
  padding: 0px;
  margin-left: 10px;
}

blockquote {
  margin: 10px, 0px, 10px, 0px;
  color: var(--link-colour);
  line-height: 1.6;
  position: relative;
  background: var(--item-colour);
  box-shadow: 4px 4px 4px var(--box-shadow);
}

blockquote p {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
}

a {
  text-decoration-line: none;
  color: var(--h2-colour);
}

article p a {
  text-decoration-line: none;
  color: var(--link-colour);
}

p a:hover {
  color: var(--link-hover-colour);
  background-color: var(--link-hover-background-colour);
  border-radius: 3px;
}

a:hover {
  color: var(--link-hover-colour);
  background-color: var(--link-hover-background-colour);
  border-radius: 3px;
}

article p a:hover {
  color: var(--link-hover-colour);
  background-color: var(--link-hover-background-colour);
  border-radius: 3px;
}

#contactInfo a {
  text-decoration-line: none;
  color: var(--text-colour);
  background-image: linear-gradient(
    to right,
    var(--light-link-colour),
    var(--light-link-colour)
  );
  background-repeat: no-repeat;
  transition-property: background-size;
  background-position: 0% 100%;
  background-size: 300% 40%;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.5em;
  text-underline-offset: -0.25em;
  text-decoration-color: var(--link-colour);
  transition-property: background-position;
  &:hover {
    background-position: 100% 100%;
  }
}

#contactInfo a:hover {
  color: var(--bold-text-colour);
  background-color: var(--background-colour);
  border-radius: none;
}

details {
  margin-block: 1rem;
  margin-inline-start: var(--gap);
}

summary {
  cursor: pointer;
  font-weight: bold;
  margin-inline-start: -1rem;
  & + * {
    margin-block-start: 0;
  }
}

details p {
  background-color: var(--text-colour);
  border-radius: 7px;
}

aside {
  font-style: italic;
  padding: 10px 10px;
  font-size: 18px;
  line-height: 1.7;
  background-color: var(--aside-colour);
  border-radius: 17px;
  color: var(--text-colour);
}

article p {
  font-size: 19px;
  line-height: 1.7;
}

#published-by {
  font-size: small;
  margin: 0 0 0 10px;
  padding: 0;
}

#footer p,
h6 {
  margin-top: 5px;
  color: rgb(140, 140, 140);
  padding: 0;
}

footer p {
  margin-top: 5px;
  color: rgb(141, 141, 141);
  padding: 0;
}

/*=================
       Lists
  ==================*/

ul {
  font-size: 19px;
}

li {
  list-style-type: square;
  list-style-position: inside;
}

#whatsNew ul {
  padding-left: 0px;
}

.reader ul {
  padding-left: 2rem;
  color: var(--text-colour);
}

#posts-list {
  line-height: 1.2;
  padding-left: 0;
}
#posts-list a {
  text-decoration: none;
  color: var(--h3-colour);
}

#posts-list a:hover {
  color: white;
}

#posts-list li {
  margin-top: 20px;
  list-style: none;
}

#finished {
  padding-left: 0;
  color: var(--text-colour);
  padding: 10px;
}

#finished li {
  padding-left: 0;
}

#latestBlogPosts a {
  text-decoration-line: none;
  color: var(--h2-colour);
}

#latestBlogPosts a:hover {
  color: var(--link-hover-colour);
  background-color: var(--link-hover-background-colour);
  border-radius: 3px;
}

#footer {
  border: none;
}
#footer p,
h6 {
  margin-top: 5px;
  color: rgb(140, 140, 140);
  padding: 0;
}
footer p {
  margin-top: 5px;
  color: rgb(141, 141, 141);
  padding: 0;
}

#recentPostTitle {
  text-decoration: none;
}

#recentPostTitle :hover {
  color: white;
  background-color: var(--link-hover-background-colour);
  border-radius: 3px;
}

#published-by {
  font-size: small;
  margin: 0 0 0 10px;
  padding: 0;
}

.date {
  color: #565656;
  padding: 0px;
  margin-left: 10px;
}

#posts-list {
  line-height: 1.2;
  padding-left: 0;
}
#posts-list a {
  text-decoration: none;
  color: var(--h3-colour);
}

#posts-list a:hover {
  color: white;
}

#posts-list li {
  margin-top: 20px;
  list-style: none;
}
