@layer reset, defaults, themes, utilities;

/*==============
    LIGHT MODE
===============*/

@layer themes {
  :root {
    --text-colour: #303030;
    --bold-text-colour: #000000;
    --background-colour: #f9f9f9;

    --header-colour-1: #9daff6;
    --header-colour-2: #842020;
    --header-colour-3: #8266d6;
    --header-colour-4: #57a444;
    --header-colour-5: #c17e27;

    --h1-colour: black;
    --h2-colour: #2274a5;
    --h3-colour: #2274a5;
    --h4-colour: #525151;
    --h5-colour: #525151;

    --link-colour: #2274a5;
    --link-hover-colour: #ffffff;
    --link-hover-background-colour: #2274a5;
    

  }
}

/*================
   DARK MODE
=================*/

@media (prefers-color-scheme: dark) {
  :root {
    --text-colour: #dbdbdb;
    --bold-text-colour: #ffffff;
    --background-colour: #1e1d2c;

    --h1-colour: #f9f9f9;
    --h2-colour: #78bce4;
    --h3-colour: #78bce4;
    --h4-colour: #dbdbdb;
    --h5-colour: #dbdbdb;

    --header-colour-1: #9daff6;
    --header-colour-2: #842020;
    --header-colour-3: #8266d6;
    --header-colour-4: #57a444;
    --header-colour-5: #c17e27;

    --link-colour: #78bce4;
    --link-hover-colour: #ffffff;
    --link-hover-background-colour: #134b6d;
      }
}


